body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flag{
    background-color: black;
    height: 400px;
    width: calc(400px * 3/2);
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px rgb(190, 190, 190);
}

.flag-color{
    width: 100%;
    height: calc(400px * 2/3);
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange
}