body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding: 4em 4em;
  margin: 3em;
  width: 800px;
}

.search-bar {
  padding: 1em;
  border-radius: 5px;
  width: 200px;
  transition: width 1s ease-in-out;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.search-bar:focus {
    outline: none;
    border:3px solid #3a71ca;
    width: 800px;
}

.search-bar::placeholder{
  font-weight: 200;
  font-size: 18px;
}

.search-bar:focus::placeholder{
   color: transparent; 
}