body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Play", sans-serif;
}

.card{
    position: relative;
    border: 4px solid black;
    height: 450px;
    width: calc(400px * 2/3);
}


.center{
    position: absolute;
    font-size: 120px;
    margin: 40%;
    bottom: 60px;
}

.top{
    position: absolute;
    font-size: 30px;
    margin: 4px 0 0 14px;
}

.bottom{
    position: absolute;
    font-size: 30px;
    bottom: 0;
    right: 10px;
    transform: rotate(180deg);
}

