body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 176, 175);
}

.container-flag{
    height: 400px;
    width: calc(400px * 3/2);
    background-color: white;
    box-shadow: 10px 10px rgb(87, 87, 87);
}

.flag-color{
    height: 50%;
    width: calc(100% * 2/3);
    float: right;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}