body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 34, 43);
}

.button-border{
    background: linear-gradient(230deg, #8c00f7, #f700f7, #f70000, #f78400, #dff700);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: black;
    color: rgb(177, 177, 177);
    border: none;
    padding: 1em 1.5em;
    font-size: 30px;
    cursor: pointer;
    letter-spacing: .1em;
    transition: .3s;
}

.button-border:hover{
    background: linear-gradient(230deg, #dff700, #f78400, #f70000, #f700f7, #8c00f7 );
}

.button:hover{
color: white;
padding: 1.1em 1.6em;
} 