body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 199, 199);
}

.container-flag{
    position: relative;
    height: 400px;
    width: calc(400px * 3/2);
    background-color: rgb(67, 67, 255);
    box-shadow: 10px 10px rgb(90, 90, 90);
}

.flag-color{
    background-color: yellow;
}

.vertical{
    width: 100%;
    height: calc(400px * 1/5);
    margin: -240px 0;
}

.horizontal{
    height: 100%;
    width: calc(400px * 1/5);
    margin: 0 185px;
}